:root {
    --primary-bg-color: navy;
    --highlight: orange;
}

@font-face {
    font-family: minecraft-font;
    src: url(components/Minecraft.ttf);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color);
    font-family: minecraft-font;
    overflow: hidden;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    filter: drop-shadow(5px 5px 5px #222);
}

#sparkle-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    border-style: solid;
    border-color: white;
    margin-top: 5rem;
    width: 80%;
}

.flip-logo {
    display: flex;
    justify-content: center;
}

.flip-logo-img {
    transform: rotate(-30deg);
    filter: drop-shadow(10px 10px 10px #222);
    animation: spiiiin 5s infinite;
}

@keyframes spiiiin {
    50% {transform: rotate(30deg);}
}

.flip-phone {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.flip-phone-img {
    width: 30%;
    filter: drop-shadow(5px 5px 5px #222);

}

#music-toggle {
    position: fixed;
    left: 2rem;
    top: 2rem;
    width: 7rem;
    height: auto;
    z-index: 10;
    cursor: pointer;
    filter: invert();
    filter: drop-shadow(4px 4px 4px #222);
    transition: transform 0.2s ease;
}

.call-link {
    color: white;
    text-decoration: underline;
}


@media (min-width: 600px) {
    h1 {
        font-size: 5rem;
        text-align: center;
    }
    .flip-phone-img {
        width: 70%;
    }
    .flip-logo-img {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .flip-logo-img {
        width: 30%;
    }
}